.main-chat
  .main-header
    .main-header__info
      .current-title
        = @group.name
      .current-member
        Member : 
        - @group.users.each do |user|
          = user.name
    .main-header__edit-btn
      =link_to edit_group_path(@group.id) do
        = "Edit"
  .main-body
    = render @messages
  .main-form
    = form_for [@group, @message] do |f|
      .post-form
        = f.text_field :content, class: "post-form__text", placeholder: "type a message"
        .post-form__picture
          = f.label :image do
            = icon('fas', 'image', class: "image")
            = f.file_field :image, class: "image-input"
        = f.submit "Send", class: "send-btn"